NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_ALGORAND_NETWORK=testnet
NEXT_PUBLIC_ALGOD_NODE_URL=
NEXT_PUBLIC_ALGOD_TOKEN=
NEXT_PUBLIC_USDC_ASA_ID=
NEXT_PUBLIC_FACILITATOR_ADDRESS=
