fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic-settings==2.3.4
python-multipart==0.0.9
python-hcl2==4.3.5
networkx==2.6.3
checkov==3.2.155
groq==0.9.0
py-algorand-sdk==2.6.1
reportlab==4.2.2
psycopg[binary]==3.2.1
